### Import Libraries

In [36]:
import pandas as pd
import numpy as np 
import os
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
import math

from scipy import stats
from scipy.stats import boxcox
from scipy.stats import kstest
from scipy.stats import chi2

### Set Path

In [30]:
path = 'C:\\Users\\padu\\Desktop\\HMDA'
os.chdir(path)

### Read Data

In [31]:
HMDAData = pd.read_csv('HMDA.csv', low_memory=False)
HMDAData

,as_of_year,respondent_id,agency_name,agency_abbr,agency_code,loan_type_name,loan_type,property_type_name,property_type,loan_purpose_name,...,edit_status_name,edit_status,sequence_number,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,application_date_indicator
0,2017,48-1236121,Department of Housing and Urban Development,HUD,7,FHA-insured,2,One-to-four family dwelling (other than manufa...,1,Home purchase,...,NaN,NaN,NaN,6255.0,34.959999,71200.0,124.800003,2324.0,2611.0,NaN
1,2017,54-1094297,Department of Housing and Urban Development,HUD,7,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home purchase,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017,37-1542226,Department of Housing and Urban Development,HUD,7,FHA-insured,2,One-to-four family dwelling (other than manufa...,1,Refinancing,...,NaN,NaN,NaN,4227.0,29.260000,48700.0,99.519997,1374.0,2005.0,NaN
3,2017,0001189117,Consumer Financial Protection Bureau,CFPB,9,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,NaN,NaN,NaN,8167.0,18.980000,67700.0,157.039993,2619.0,2860.0,NaN
4,2017,54-1094297,Department of Housing and Urban Development,HUD,7,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home purchase,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196981,2017,26-0595342,Department of Housing and Urban Development,HUD,7,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home purchase,...,NaN,NaN,NaN,4108.0,44.619999,52900.0,68.970001,814.0,1793.0,NaN
196982,2017,0000216922,Federal Reserve System,FRS,2,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home purchase,...,NaN,NaN,NaN,4108.0,44.619999,52900.0,68.970001,814.0,1793.0,NaN
196983,2017,0542409990,Department of Housing and Urban Development,HUD,7,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home purchase,...,NaN,NaN,NaN,4108.0,44.619999,52900.0,68.970001,814.0,1793.0,NaN
196984,2017,0002915461,Federal Reserve System,FRS,2,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,NaN,NaN,NaN,4108.0,44.619999,52900.0,68.970001,814.0,1793.0,NaN
196985,2017,0000216922,Federal Reserve System,FRS,2,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home purchase,...,NaN,NaN,NaN,4108.0,44.619999,52900.0,68.970001,814.0,1793.0,NaN

In [34]:
## Preview Columns
HMDAData .columns

Index(['as_of_year', 'respondent_id', 'agency_name', 'agency_abbr',
       'agency_code', 'loan_type_name', 'loan_type', 'property_type_name',
       'property_type', 'loan_purpose_name', 'loan_purpose',
       'owner_occupancy_name', 'owner_occupancy', 'loan_amount_000s',
       'preapproval_name', 'preapproval', 'action_taken_name', 'action_taken',
       'msamd_name', 'msamd', 'state_name', 'state_abbr', 'state_code',
       'county_name', 'county_code', 'census_tract_number',
       'applicant_ethnicity_name', 'applicant_ethnicity',
       'co_applicant_ethnicity_name', 'co_applicant_ethnicity',
       'applicant_race_name_1', 'applicant_race_1', 'applicant_race_name_2',
       'applicant_race_2', 'applicant_race_name_3', 'applicant_race_3',
       'applicant_race_name_4', 'applicant_race_4', 'applicant_race_name_5',
       'applicant_race_5', 'co_applicant_race_name_1', 'co_applicant_race_1',
       'co_applicant_race_name_2', 'co_applicant_race_2',
       'co_applicant_race_name_3', 'co_applicant_race_3',
       'co_applicant_race_name_4', 'co_applicant_race_4',
       'co_applicant_race_name_5', 'co_applicant_race_5', 'applicant_sex_name',
       'applicant_sex', 'co_applicant_sex_name', 'co_applicant_sex',
       'applicant_income_000s', 'purchaser_type_name', 'purchaser_type',
       'denial_reason_name_1', 'denial_reason_1', 'denial_reason_name_2',
       'denial_reason_2', 'denial_reason_name_3', 'denial_reason_3',
       'rate_spread', 'hoepa_status_name', 'hoepa_status', 'lien_status_name',
       'lien_status', 'edit_status_name', 'edit_status', 'sequence_number',
       'population', 'minority_population', 'hud_median_family_income',
       'tract_to_msamd_income', 'number_of_owner_occupied_units',
       'number_of_1_to_4_family_units', 'application_date_indicator'],
      dtype='object')

In [33]:
HMDAData.head()

,as_of_year,respondent_id,agency_name,agency_abbr,agency_code,loan_type_name,loan_type,property_type_name,property_type,loan_purpose_name,...,edit_status_name,edit_status,sequence_number,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,application_date_indicator
0,2017,48-1236121,Department of Housing and Urban Development,HUD,7,FHA-insured,2,One-to-four family dwelling (other than manufa...,1,Home purchase,...,NaN,NaN,NaN,6255.0,34.959999,71200.0,124.800003,2324.0,2611.0,NaN
1,2017,54-1094297,Department of Housing and Urban Development,HUD,7,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home purchase,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017,37-1542226,Department of Housing and Urban Development,HUD,7,FHA-insured,2,One-to-four family dwelling (other than manufa...,1,Refinancing,...,NaN,NaN,NaN,4227.0,29.260000,48700.0,99.519997,1374.0,2005.0,NaN
3,2017,0001189117,Consumer Financial Protection Bureau,CFPB,9,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,NaN,NaN,NaN,8167.0,18.980000,67700.0,157.039993,2619.0,2860.0,NaN
4,2017,54-1094297,Department of Housing and Urban Development,HUD,7,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home purchase,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
HMDAData.groupby(['loan_purpose_name'])['action_taken'].sum()

loan_purpose_name
Home improvement      5080
Home purchase       130303
Refinancing          61603
Name: action_taken, dtype: int64

In [59]:
HMDAData['loan_purpose_name'].describe()

count            196986
unique                3
top       Home purchase
freq             130303
Name: loan_purpose_name, dtype: object

In [37]:
HMDAData.describe()

,as_of_year,agency_code,loan_type,property_type,loan_purpose,owner_occupancy,loan_amount_000s,preapproval,action_taken,msamd,...,edit_status_name,edit_status,sequence_number,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,application_date_indicator
count,196986.0,196986.000000,196986.000000,196986.0,196986.000000,196986.0,196986.000000,196986.000000,196986.0,169732.000000,...,0.0,0.0,0.0,196868.000000,196868.000000,196868.000000,196868.000000,196868.000000,196868.000000,0.0
mean,2017.0,7.066995,1.528703,1.0,1.651244,1.0,213.674302,2.709934,1.0,27381.302406,...,NaN,NaN,NaN,5659.488845,30.520823,63339.897292,117.049802,1518.223170,2153.090832,NaN
std,0.0,1.988245,0.855562,0.0,0.923355,0.0,141.968170,0.536870,0.0,11970.057514,...,NaN,NaN,NaN,2415.339056,20.701863,10711.384865,41.691508,697.223804,903.369996,NaN
min,2017.0,1.000000,1.000000,1.0,1.000000,1.0,2.000000,1.000000,1.0,11700.000000,...,NaN,NaN,NaN,0.000000,0.000000,45000.000000,0.000000,0.000000,0.000000,NaN
25%,2017.0,7.000000,1.000000,1.0,1.000000,1.0,129.000000,3.000000,1.0,16740.000000,...,NaN,NaN,NaN,3985.000000,14.960000,53700.000000,89.309999,1037.000000,1508.000000,NaN
50%,2017.0,7.000000,1.000000,1.0,1.000000,1.0,183.000000,3.000000,1.0,24660.000000,...,NaN,NaN,NaN,5248.000000,25.670000,67700.000000,110.190002,1426.000000,1987.000000,NaN
75%,2017.0,9.000000,2.000000,1.0,3.000000,1.0,261.000000,3.000000,1.0,39580.000000,...,NaN,NaN,NaN,6902.000000,42.549999,67700.000000,138.649994,1890.000000,2663.000000,NaN
max,2017.0,9.000000,4.000000,1.0,3.000000,1.0,6500.000000,3.000000,1.0,49180.000000,...,NaN,NaN,NaN,16788.000000,99.919998,80200.000000,384.649994,4237.000000,5891.000000,NaN

In [38]:
HMDAData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196986 entries, 0 to 196985
Data columns (total 78 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   as_of_year                      196986 non-null  int64
 1   respondent_id                   196986 non-null  object
 2   agency_name                     196986 non-null  object
 3   agency_abbr                     196986 non-null  object
 4   agency_code                     196986 non-null  int64
 5   loan_type_name                  196986 non-null  object
 6   loan_type                       196986 non-null  int64
 7   property_type_name              196986 non-null  object
 8   property_type                   196986 non-null  int64
 9   loan_purpose_name               196986 non-null  object
 10  loan_purpose                    196986 non-null  int64
 11  owner_occupancy_name            196986 non-null  object
 12  owner_occupancy                 196986 non-null  int64
 13  loan_amount_000s                196986 non-null  int64
 14  preapproval_name                196986 non-null  object
 15  preapproval                     196986 non-null  int64
 16  action_taken_name               196986 non-null  object
 17  action_taken                    196986 non-null  int64
 18  msamd_name                      169670 non-null  object
 19  msamd                           169732 non-null  float64
 20  state_name                      196986 non-null  object
 21  state_abbr                      196986 non-null  object
 22  state_code                      196986 non-null  int64
 23  county_name                     196874 non-null  object
 24  county_code                     196874 non-null  float64
 25  census_tract_number             196868 non-null  float64
 26  applicant_ethnicity_name        196986 non-null  object
 27  applicant_ethnicity             196986 non-null  int64
 28  co_applicant_ethnicity_name     196986 non-null  object
 29  co_applicant_ethnicity          196986 non-null  int64
 30  applicant_race_name_1           196986 non-null  object
 31  applicant_race_1                196986 non-null  int64
 32  applicant_race_name_2           1061 non-null    object
 33  applicant_race_2                1061 non-null    float64
 34  applicant_race_name_3           89 non-null      object
 35  applicant_race_3                89 non-null      float64
 36  applicant_race_name_4           15 non-null      object
 37  applicant_race_4                15 non-null      float64
 38  applicant_race_name_5           6 non-null       object
 39  applicant_race_5                6 non-null       float64
 40  co_applicant_race_name_1        196986 non-null  object
 41  co_applicant_race_1             196986 non-null  int64
 42  co_applicant_race_name_2        333 non-null     object
 43  co_applicant_race_2             333 non-null     float64
 44  co_applicant_race_name_3        25 non-null      object
 45  co_applicant_race_3             25 non-null      float64
 46  co_applicant_race_name_4        2 non-null       object
 47  co_applicant_race_4             2 non-null       float64
 48  co_applicant_race_name_5        2 non-null       object
 49  co_applicant_race_5             2 non-null       float64
 50  applicant_sex_name              196986 non-null  object
 51  applicant_sex                   196986 non-null  int64
 52  co_applicant_sex_name           196986 non-null  object
 53  co_applicant_sex                196986 non-null  int64
 54  applicant_income_000s           187076 non-null  float64
 55  purchaser_type_name             196986 non-null  object
 56  purchaser_type                  196986 non-null  int64
 57  denial_reason_name_1            0 non-null       float64
 58  denial_reason_1                 0 non-null       float64
 59  denial_reason_name_2            0 non-null       float64
 60  denial_reason_2                 0 non-null       float64
 61  denial_reason_name_3            0 non-null       float64
 62  denial_reason_3                 0 non-null       float64
 63  rate_spread                     10169 non-null   float64
 64  hoepa_status_name               196986 non-null  object
 65  hoepa_status                    196986 non-null  int64
 66  lien_status_name                196986 non-null  object
 67  lien_status                     196986 non-null  int64
 68  edit_status_name                0 non-null       float64
 69  edit_status                     0 non-null       float64
 70  sequence_number                 0 non-null       float64
 71  population                      196868 non-null  float64
 72  minority_population             196868 non-null  float64
 73  hud_median_family_income        196868 non-null  float64
 74  tract_to_msamd_income           196868 non-null  float64
 75  number_of_owner_occupied_units  196868 non-null  float64
 76  number_of_1_to_4_family_units   196868 non-null  float64
 77  application_date_indicator      0 non-null       float64
dtypes: float64(29), int64(19), object(30)
memory usage: 117.2+ MB

In [61]:
HMDAData['hoepa_status_name'].value_counts()

Not a HOEPA loan    196964
HOEPA loan              22
Name: hoepa_status_name, dtype: int64

In [65]:
list(set(HMDAData['hoepa_status_name']))

['Not a HOEPA loan', 'HOEPA loan']

In [66]:
pd.unique(HMDAData['hoepa_status_name'])

array(['Not a HOEPA loan', 'HOEPA loan'], dtype=object)